@page "/programmes"
@*context de la base de donné et js runtime*@
@attribute [Authorize]
@inject PCU001Context _context
@inject IJSRuntime JSRuntime
@using Newtonsoft.Json
@* les cdn(s) doivent être ajoutés pour le bon fonctionnement du componant *@

<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- Donne accès au portail selon le role de l'utilisateur -->
                <li class="breadcrumb-item"><a href="/"> Portail </a></li>
                <li style="padding: 0 4px;"><i class="fas fa-home" style="font-size: 15px; color: #3f51b5;"></i></li>
                <li class="breadcrumb-item"><i class="fas fa-circle" style="font-size: 5px; vertical-align: middle; padding-right: 2px;"></i></li>
                <li class="breadcrumb-item active" aria-current="page"> Programmes </li>
            </ol>
        </nav>
    </div>
    <!-- Message distiné pour le groupe d'administration -->
    <div class="col-12">
        <div class="alert alert-light show shadow" role="alert">
            <div class="alert-icon text-warning">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="alert-text">
                Veuillez vérifier que tous les plans cadres pour les programmes d'informatique soit à jour pour le 15 novembre.
            </div>
        </div>
    </div>
</div>

<div style="position:relative;">
    <!-- -->
    @if (programmes == null)
    {
        <p><em>En cours de chargement...</em></p>
    }
    else
    {
        <div class="col-12 firstLayer" style="position: absolute; top: 0; left: 0;">
            <div class="shadow card-body">
                <div class="container">
                    @if (!programmes.Any())
                    {
                        <p><em>Nous avons trouvé aucun programme.</em></p>
                    }
                    else
                    {
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="pr-3">Nom</th>
                                                <th class="pr-3">Identifiant</th>
                                                <th class="pr-3">Département</th>
                                                <th class="pr-3"> --- </th>
                                                <th class="pr-3"> Pdf </th>
                                                <th class="pr-3"> Image </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4"><hr /></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var prog in programmes)
                                            {
                                            <tr>
                                                <td valign="top" class="p-0">@prog.Designation</td>
                                                <td valign="top" class="p-0">@prog.Id</td>
                                                <td valign="top" class="p-0">@prog.DepartementId</td>
                                                <td valign="top" class="p-0">
                                                    <table>
                                                        <tr>
                                                            <th valign="top" align="center" colspan="3" class="p-0">Pondération des compétences</th>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" align="center" class="p-0 m-0">Obligatoire</td>
                                                            <td valign="top" align="center" class="p-0 m-0">Absolue</td>
                                                            <td valign="top" align="center" class="p-0 m-0">Optionnelle</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" align="center" class="p-0">@prog.NombreCompetencesObligatoires</td>
                                                            <td valign="top" align="center" class="p-0">@prog.NombreCompetencesComplementairesAccessor</td>
                                                            <td valign="top" align="center" class="p-0">@prog.NombreCompetencesOptionnellesAccessor</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="p-0"><a href="@prog.ProgrammePdfAccess">@prog.ProgrammePdfAccess.Split('/').Last()</a></td>
                                                <td class="p-0"><img style="height: 50px; width: 50px" src="@prog.ProgrammeImgAccess" /></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="col-12 text-center">
    <span class="smallerFontSize">La page ne répond pas? <a href="/programmes" onclick="window.location.reload()" class="reload">Rafraîchir la page.</a></span>
</div>

@code {
    private List<Programmes> programmes;

    protected override void OnInitialized()
    {
        // contextualise les programmes
        programmes = _context.Programmes.ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender) 
        {
            await JSRuntime.InvokeAsync<string>("initTable", "#dataTable");
        }
    }
}

<style>
</style>