@page
@model PlanC.Client.Pages.PlanCadre.DetailsModel

<div>
    <h4>PlansCadres</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.ProgrammeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.ProgrammeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.DenominationCours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.DenominationCours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.Unites)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.Unites)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.IntentionEducative)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.IntentionEducative)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.IntentionPedagogique)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.IntentionPedagogique)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.HeuresTotalesTheorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.HeuresTotalesTheorie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.HeuresTotalesPratique)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.HeuresTotalesPratique)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.HeuresTotalesMaison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.HeuresTotalesMaison)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.DateApprobationDepartement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.DateApprobationDepartement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.DateApprobationCommite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.DateApprobationCommite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.DateApprobationCadre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.DateApprobationCadre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.TrkUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.TrkUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlansCadres.RcdCdttm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlansCadres.RcdCdttm)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
