@page
@model PlanC.Client.Pages.PlanCadre.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].ProgrammeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].DenominationCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].Unites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].IntentionEducative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].IntentionPedagogique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].HeuresTotalesTheorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].HeuresTotalesPratique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].HeuresTotalesMaison)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].DateApprobationDepartement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].DateApprobationCommite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].DateApprobationCadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].TrkUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlansCadres[0].RcdCdttm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlansCadres) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenominationCours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntentionEducative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntentionPedagogique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeuresTotalesTheorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeuresTotalesPratique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeuresTotalesMaison)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApprobationDepartement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApprobationCommite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApprobationCadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrkUid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RcdCdttm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
