@using PlanC.Views.Shared.Assets.SideBar

@model PlanC.Views.Shared.Assets.SideBar.LinkItem

@{
    ///**
    /// menu
    ///     each

}

@if (Model is DropDownItem dropdown)
{
    <li class="nav-item dropdown">
        <a class="bd-toc-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.Display()
        </a>
        <div class="dropdown-menu side-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            @foreach (LinkItem linkItem in dropdown.Items)
            {
                <partial name="_itemnavbar.cshtml" for="@linkItem" />
            }
        </div>
    </li>
}
else if (Model.parent != null)
{
    <a class="@Model.Class" href="@Model.Url">@Model.Text</a>
}
else
{
    <li class="nav-item">
            <a class="@Model.Class" href="@Model.Url">@Model.Text</a>
    </li>
}
