@page "/admin/roles/authorise"
@model PlanC.Client.UserRoleIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Utilisateurs et leurs rôles</h1>

<p>
    <a href="/admin/roles/user/assigner">Assigner un utilisateur un role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Utilisateur
            </th>
            <th>
                Rôles
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetUserRoles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @foreach (string role in item.Value) 
                {
                    <table>
                        <tr>
                            <td>@role</td>
                        </tr>
                    </table>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
