@page
@model PlanC.Client.Pages.Competence.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Competences</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.Enonce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.Enonce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.AttitudeAttendu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.AttitudeAttendu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.NombreParties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.NombreParties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.CompetenceComplementaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.CompetenceComplementaire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.RcdCdttm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.RcdCdttm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.TrkUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.TrkUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.Discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.Discipline.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Competences.CompetenceId" />
        <input type="hidden" asp-for="Competences.DisciplineId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
