@page
@model PlanC.Client.Pages.Competence.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ElementsCompetence</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCompetence.Libele)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCompetence.Libele)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCompetence.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCompetence.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCompetence.RcdCdttm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCompetence.RcdCdttm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCompetence.TrkUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCompetence.TrkUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCompetence.Competences)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCompetence.Competences.CompetenceId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ElementsCompetence.CompetenceId" />
        <input type="hidden" asp-for="ElementsCompetence.DisciplineId" />
        <input type="hidden" asp-for="ElementsCompetence.ElementCompetenceSqnbr" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
