@page
@model PlanC.Client.Pages.Competence.DetailsModel

<div>
    <h4>Competences</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.Enonce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.Enonce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.AttitudeAttendu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.AttitudeAttendu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.NombreParties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.NombreParties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.CompetenceComplementaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.CompetenceComplementaire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.RcdCdttm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.RcdCdttm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.TrkUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.TrkUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences.Discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competences.Discipline.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
