<table style="width:100%">
    <thead>
        <tr>
            <th style="text-align: right" colspan="2">Code: @compentence.CompetenceId</th>
        </tr>
        <tr class="font-italic text-center" style="color:deepskyblue; font-weight: bold">
            <th>Objectif</th>
            <th>Standard</th>
        </tr>
    </thead>
</table>
<table class="mt-3" style="width:100%; border: 2px solid deepskyblue;">
    <thead>
        <tr style="border-bottom: 1px solid deepskyblue;">
            <th>Énoncé de la compétence</th>
            <th>Contexte de réalisation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">
                <ul>
                    <li>@compentence.Enonce</li>    
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var itemContext in compentence.CompetenceContextes)
                    {
                        <li>@itemContext.Text</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<table class="mt-2" style="width:100%; border: 2px solid deepskyblue;">
    <thead>
        <tr style="border-bottom: 1px solid deepskyblue;">
            <th>Éléments de la compétence</th>
            <th>Critères de performance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemContext in compentence.ElementsCompetence)
        {
            <tr>
                <td valign="top">
                    <ol start="@(compentence.ElementsCompetence.IndexOf(itemContext)+1)">
                        <li>@itemContext.Libele</li>
                    </ol>
                </td>
                <td>
                    <ul>
                        @foreach (var elementsCriteria in itemContext.CriteresElementCompetence)
                        {
                            <li>@elementsCriteria.DescriptionCritere</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {    
    // recoit en cascade l'instance du context
    [CascadingParameter]
    protected PCU001Context context { get; set; }
    [CascadingParameter]
    protected Competences compentence { get; set; }
}