@page "/Departement/{id?}"
@model PlanC.Client.Pages.Competence.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].Enonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].AttitudeAttendu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].NombreParties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].CompetenceComplementaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].RcdCdttm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].TrkUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competences[0].Discipline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Competences) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeAttendu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreParties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceComplementaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RcdCdttm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrkUid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
