@using PlanC.WebApi.Server.DataAccess
@using PlanC.WebApi.Models
@inject NavigationManager NavigationManager

<!-- Formulaire d'un nouveau plan-cadre -->
<div class="container">
    <EditForm Model="@CTemplate" OnValidSubmit="@HandleValidSubmit">
        <!-- Validation async -->
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <!-- Valeur pour le titre du plan-cadre -->
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="CrsTitle"> Titre du cours: </label>
                    <OnStringInput @bind-Value="CTemplate.Title" type="text" class="form-control" id="CrsTitle" placeholder="Titre du cours" name="CrsTitle" />
                    <ValidationMessage For="@(() => CTemplate.Title)" />
                </div>
            </div>
            <!-- Valeur pour l'identification du cours -->
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="CrsId"> Identifiant du cours: </label>
                    <OnStringInput @bind-Value="CTemplate.Id" type="text" class="form-control" id="CrsId" placeholder="Identifiant du cours" name="CrsId" />
                    <ValidationMessage For="@(() => CTemplate.Id)" />
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Nombre d'unités pour le cours données -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="Units">Nombre d'unité pour le cours: </label>
                    <OnNumberInputMask Mask="00000" @bind-Value="CTemplate.Units" CssClass="theme-mask" id="Units" placeholder="Nombre d'unité" />
                    <ValidationMessage For="@(() => CTemplate.Units)" />
                </div>
            </div>
            <!-- Ajout de la pondération -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="Ponderation">Pondération (propriété non trouvé): </label>
                    <input class="form-control" id="Ponderation" placeholder="Ingore It" name="Ponderation" />
                </div>
            </div>
        </div>
        <!-- Séparateur -->
        <hr />
        <!-- les intentions du cours -->
        <div class="form-group">
            <label class="control-label" for="CrsIntent">Intention du cours: </label>
            <InputTextArea @bind-Value="CTemplate.EducationalIntent" rows="4" class="form-control" id="CrsIntent" placeholder="Intention éducative..." name="CrsIntent" />
            <ValidationMessage For="@(() => CTemplate.EducationalIntent)" />
        </div>
        <!-- Entrés pour les intentions pédagogiques du cours -->
        <div class="form-group">
            <label class="control-label" for="IntentionPedagogique">Intention du pédagogique (propriété non trouvé): </label>
            <InputTextArea rows="4" @bind-Value="CTemplate.PedagogicalIntent" class="form-control" id="IntentionPedagogique" placeholder="Ingore It" name="IntentionPedagogique" />
            <ValidationMessage For="@(() => CTemplate.PedagogicalIntent)" />
        </div>
        <!-- Descriptions du cours -->
        <div class="form-group">
            <label class="control-label col-12" for="CrsDesc">Description du cours: </label>
            <InputTextArea rows="4" @bind-Value="CTemplate.Description" class="form-control" id="CrsIntent" placeholder="Description du cours..." name="CrsDesc" />
            <ValidationMessage For="@(() => CTemplate.Description)" />
        </div>
        <!--href="/planscadres/nouveau/ponderation"-->
        <div class="col-12">
            <!--href="/planscadres/nouveau/ponderation"-->
            <button class="btn btn-dark" type="submit">Continuer</button>
        </div>
    </EditForm>
</div>
@code {
    private CourseTemplate CTemplate = new CourseTemplate();

    // validation côté serveur
    private void HandleValidSubmit()
    {
        // enregistre le cours template
        Console.WriteLine("OnValidSubmit");
        NavigationManager.NavigateTo("/planscadres/nouveau/ponderation");
    }
}
